# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Środowiska wirtualne
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
